/* =Colors
----------------------------------------------- */

/*
Red: red #ff0000
Dark Grey Text: #333
Light Grey Text: #666
Border Grey: #ddd
Light Grey: #efefef
Black: #000
White: #fff
*/

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active,
.main-navigation .current-menu-item > a {
	background-color: red;
}
.widget_search form.searchform input[type="text"] {
	background-color: #fff;
}
hr,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.main-navigation .menu-item-parent:hover,
.main-navigation .sub-menu a {
	background-color: #ddd;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
}
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
}
pre,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.main-navigation .menu,
.sticky {
	background-color: #efefef;
}
mark,
ins {
	background-color: #fff9c0;
}
.comment-navigation {
	border-bottom-color: #efefef;
}
pre,
#colophon,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-bottom-color: #ddd;
}
pre,
#colophon,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-left-color: #ddd;
}
pre,
#colophon,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-right-color: #ddd;
}
#content .site-navigation,
.single .comments-title {
	border-top-color: #efefef;
}
pre,
#colophon,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-top-color: #ddd;
}
a,
a:visited {
	color: red;
}
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active,
.main-navigation .current-menu-item > a {
	color: #fff;
}
.main-navigation .menu-item-parent > a:after {
	color: #bbb;
}
.page-title,
.entry-meta,
.wp-caption-text,
.comment-meta,
#commentform ::-webkit-input-placeholder,
#commentform :-moz-placeholder,
.form-allowed-tags,
.widget_rss .rss-date,
.widget_rss cite,
#colophon {
	color: #aaa;
}
input[type=text],
textarea,
.comment-meta h4 {
	color: #666;
}
body,
button,
input,
select,
textarea,
input[type=text]:focus,
textarea:focus {
	color: #333;
}
.widget_search ::-webkit-input-placeholder { /* Change color of placeholder text */
   /*color: #000;*/
}
.widget_search :-moz-placeholder {  /* Change color of placeholder text */
   /*color: #000;*/  
}


/* =Browser-specific
----------------------------------------------- */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none; /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}


/* =IE9 and Unsupported
----------------------------------------------- */
     
/* Correct small gap above submenus */
#unsupported .menu > li > .sub-menu,
#ie9 .menu > li > .sub-menu {
	top: 1.7em;
}
/* Show labels, as IE doesn't support placeholder text */
#unsupported input.searchsubmit,
#ie9 input.searchsubmit {
	background: none;
	border-color: #ddd;
	border-radius: 0;
	border-width: 0 0 0 1px;
	box-shadow: none;
	color: #aaa;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	right: 1%;
	position: absolute;
	top: 2px;
}
#unsupported form.searchform input[type="text"],
#ie9 form.searchform input[type="text"] {
	padding-right: 24%;
	width: 74%;
}
#unsupported #commentform label,
#ie9 #commentform label {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
}


/* =Responsive
----------------------------------------------- */

@media screen and ( max-width: 920px ) {
	.depth-3 .comment-form-author,
	.depth-3 .comment-form-email,
	.depth-3 .comment-form-url,
	.depth-4 .comment-form-author,
	.depth-4 .comment-form-email,
	.depth-4 .comment-form-url,
	.depth-5 .comment-form-author,
	.depth-5 .comment-form-email,
	.depth-5 .comment-form-url {
		margin: 0 0 1em;
		width: 100%;
	}
	.depth-3 #commentform input[type="text"],
	.depth-4 #commentform input[type="text"],
	.depth-5 #commentform input[type="text"] {
		width: 97%;
	}
}
@media screen and ( max-width: 768px ) {
	.page-template-full-width-php #comments {
		max-width: 100%;
	}
}
@media screen and ( max-width: 680px ) {
	#masthead hgroup,
	.main-navigation,
	#primary,
	#secondary,
	#tertiary {
		width: 100%;
	}
	#masthead,
	#masthead hgroup,
	.main-navigation,
	#primary,
	#secondary,
	#tertiary  {
		margin: 0;
	}
	.site-description {
		margin-bottom: 1.5em;
	}
	.main-navigation {
		margin-bottom: 2.5em;
	}
	#secondary,
	#tertiary {
		padding: 0;
	}
	.widget_search form.searchform input[type="text"] {
		width: 98%;
	}
}
@media screen and ( max-width: 480px ) {
	#page {
		margin-top: 1em;
	}
	/* Navigation */
	.main-navigation,
	.menu {
		display: none;
	}
	.menu-button {
		bottom: -1px;
		float: right;
		position: relative;
	}
	.small-navigation,
	.widget .main-navigation,
	.widget .menu {
		display: block;
	}
	.small-navigation {
		margin-bottom: 1em;
	}
	.small-navigation ul {
		background: #efefef;
		border: 1px solid #ddd;
		border-bottom-width: 0;
		clear: both;
		list-style: none;
		margin: 0;
	}
	.small-navigation .sub-menu {
		border: none;
	}
	.small-navigation li {
	}
	.small-navigation a {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #fff;
		display: block;
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: 700;
		padding: 3% 5%;
		text-shadow: 0 1px 0 rgba( 255, 255, 255, .8 );
		text-transform: uppercase;
	}
	.small-navigation a:hover {
		background-color: #ddd;
	}
	.small-navigation a:active {
		background-color: red;
		color: #fff;
		text-shadow: 0 1px 0 rgba( 0, 0, 0, .5 );
	}
	.small-navigation .sub-menu a {
		padding-left: 10%;
	}
	.small-navigation .sub-menu .sub-menu a {
		padding-left: 15%;
	}
	.menu-item-parent > a:after,
	.sub-menu .menu-item-parent > a:after {
		content: '';
	}
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		margin: 0 0 1em;
		width: 100%;
	}
	#commentform input[type="text"],
	.widget_search input[type="text"] {
		width: 97%;
	}
}