/* =Styling
----------------------------------------------- */

/* Borders */
.widget_calendar table {
	border-collapse: collapse;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea {
	border-radius: 3px;
}
body,
pre,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky,
#content .site-navigation,
.comment-navigation,
.single .comments-title {
	border-style: solid;
}
body {
	border-bottom-width: 4px;
}
pre,
abbr,
acronym,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky,
.wp-caption img,
.comment-navigation {
	border-bottom-width: 1px;
}
hr,
button::-moz-focus-inner,
input::-moz-focus-inner,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley,
#content .gallery a img,
.error404 .entry-content .widget {
	border-bottom-width: 0;
}
pre,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-left-width: 1px;
}
body,
hr,
button::-moz-focus-inner,
input::-moz-focus-inner,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley,
.wp-caption img,
#content .gallery a img,
.error404 .entry-content .widget {
	border-left-width: 0;
}
pre,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky {
	border-right-width: 1px;
}
body,
hr,
button::-moz-focus-inner,
input::-moz-focus-inner,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley,
.wp-caption img,
#content .gallery a img,
.error404 .entry-content .widget {
	border-right-width: 0;
}
body {
	border-top-width: 4px;
}
pre,
#colophon,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
.main-navigation .menu,
.sticky,
#content .site-navigation,
.single .comments-title {
	border-top-width: 1px;
}
hr,
button::-moz-focus-inner,
input::-moz-focus-inner,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley,
.wp-caption img,
#content .gallery a img,
.error404 .entry-content .widget {
	border-top-width: 0;
}
/* Cursors */
abbr,
acronym {
	cursor: help;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}
/* Lists */
.widget.widget_recent_comments > ul,
.widget.widget_recent_entries > ul {
	list-style: inherit;
}
.main-navigation ul,
.commentlist,
.commentlist ul.children,
.widget > ul,
.widget_nav_menu ul.menu {
	list-style: none;
}
/* Shadows */
.wp-caption img,
.widget_rss .widget-title img {
	box-shadow: none;
}
.main-navigation .sub-menu li:last-child {
	box-shadow: 0 8px 8px -5px rgba(0,0,0,.4);
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.main-navigation a {
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active,
.main-navigation .current-menu-item > a {
	text-shadow: 0 1px 0 rgba(0,0,0,.8);
}
.bypostauthor {
}
.gallery-caption {
}