/* =Typography
----------------------------------------------- */

.main-navigation .sub-menu .menu-item-parent > a:after {
    content: '\a0 \a0 \a0 \a0 \25b6';
}
.main-navigation .menu-item-parent > a:after {
    content: '\a0 \a0 \a0 \25bc';
}
.widget_nav_menu .menu-item-parent > a:after,
.widget_nav_menu .sub-menu .menu-item-parent > a:after {
    content: '';
}
pre,
code,
kbd,
tt,
var {
	font-family: Courier, monospace;
}
body,
button,
input,
select,
textarea,
#reply-title small a,
#cancel-comment-reply-link {
	font-family: Helvetica, sans-serif;
}
h4,
h5,
h6,
.page-title {
	font-family: inherit;
}
big {
	font-size: 125%;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
}
sup,
sub,
small {
	font-size: 75%;
}
.site-title {
	font-size: 55px;
	font-size: 5.5rem;
}
h1 {
	font-size: 38px;
	font-size: 3.8rem;
}
.single .entry-title,
.page .entry-title,
.not-found .entry-title {
	font-size: 28px;
	font-size: 2.8rem;
}
.entry-title {
	font-size: 24px;
	font-size: 2.4rem;
}
h2 {
	font-size: 20px;
	font-size: 2rem;
}
body,
h3,
button,
input,
select,
textarea,
.comment-meta h4,
.widget-title {
	font-size: 16px;
	font-size: 1.6rem;
}
h4,
h5,
h6,
pre,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
input[type=text],
textarea,
#colophon,
.main-navigation a,
.wp-caption-text,
.form-allowed-tags,
#secondary,
#tertiary {
	font-size: 14px;
	font-size: 1.4rem;
}
.page-title,
.entry-meta,
.comment-meta,
#reply-title small a,
#cancel-comment-reply-link,
.widget_rss .rss-date,
.widget_rss cite {
	font-size: 12px;
	font-size: 1.2rem;
}

.main-navigation .menu-item-parent > a:after {
    font-size: 8px;
    font-size: .8rem;
}
dfn,
cite,
em,
i,
blockquote,
.wp-caption-text {
	font-style: italic;
}
.widget_rss .rss-date,
.widget_rss cite {
	font-style: normal;
}
.page-title {
	font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
.site-title a,
.main-navigation .menu,
.main-navigation a {
	font-weight: 700;
}
dt,
b,
strong,
th,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a,
a:visited,
.site-description,
.comment-awaiting,
.nocomments {
	font-weight: 400;
}
body,
button,
input,
select,
textarea {
	font-weight: 300;
}
.site-title a {
	letter-spacing: -1px;
}
body,
button,
input,
select,
textarea,
pre {
	line-height: 1.5;
}
.page-title,
.entry-meta,
.wp-caption-text,
.comment-meta h4 {
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}
.site-title,
.main-navigation a,
.widget_rss .rss-date,
.widget_rss cite,
.widget_rss li a {
	line-height: 1;
}
sup,
sub {
	line-height: 0;
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
ol ol {
	list-style: lower-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
.wp-caption-text,
.comment-awaiting,
.nocomments {
	text-align: center;
}
#content .nav-next,
#content .next-image,
#next,
#colophon {
	text-align: right;
}
mark,
ins,
.main-navigation a {
	text-decoration: none;
}
.comment-meta h4 {
	text-transform: none;
}
h4,
h5,
h6,
.main-navigation a,
.page-title,
.entry-meta,
.comment-meta,
#reply-title small a,
#cancel-comment-reply-link,
.widget_calendar caption,
.widget_rss .rss-date,
.widget_rss cite {
	text-transform: uppercase;
}
.main-navigation a {
	white-space: nowrap;
}
.widget {
	word-wrap: break-word;
}